name: CI Build Pipeline

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies (root)
        working-directory: ./server
        run: npm install

      - name: Build root project
        working-directory: ./server
        run: npm run build

      - name: Install dependencies (client)
        working-directory: ./client
        run: npm install

      - name: Build client project
        working-directory: ./client
        run: npm run build